.exciting {
  color: darkcyan;
}

body {
  background-color: darkcyan;
}

.cyanline {
  border-bottom-style: solid;
  border-bottom-color: darkcyan;
  border-bottom-width: medium;
}

img {
  float: right;
  border: solid;
  border-color: darkcyan;
  border-width: medium;
}

h1 {
  text-align: center;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.tablecat {
  color: darkcyan;
  font-size: 120%;
  text-decoration: underline;
}
