.exciting {
  color: darkcyan;
}

body {
  background-color: lightcyan;
}

.cyanline {
  border-bottom-style: solid;
  border-bottom-color: darkcyan;
  border-bottom-width: medium;
}

img {
  float: right;
  border: solid;
  border-color: darkcyan;
  border-width: medium;
}
